{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

</head> {% comment %}isto foi movido para aqui para meter o titulo dinamico {% endcomment %}
    {% include "global/partials/head.html" %} {% comment %} assim vou buscar o que esta em partials  {% endcomment %}
    <title> {%block title%} {%endblock title%}Babylish</title>  

<body>

    {% include "global/partials/header.html" %} {% comment %} assim vou buscar o que esta em partials, para a parte do header  {% endcomment %} 
    {% include "global/partials/search.html" %}  {% comment %} assim vou buscar o que esta em partials, para a parte do search  {% endcomment %} 
    

    <main class="main-content-conteiner">
        {% block content %}
        {% comment %} tenho que usar isto no mais meter o block para ir buscar isto !! {% endcomment %} 
        {% endblock content %}
        {% include "global/partials/pagination.html" %}

    </main>
    {% include "global/partials/footer.html" %}
    <script src="{%static 'global/js/scripts.js'%}"></script>
</body>

</html>