{% extends "global/base.html" %}

{% block title %} Dashboard ({{user}})  | 

{%  endblock title %}

{% block content %}
    <div class="main-content center container"> 
        <h2> Dashboard ({{user}}) </h2>

        {% include 'authors/pages/partials/login_message.html' %}
        {% include 'global/partials/messages.html' %}
        
        <div class="authors-dashboard-container"> 
            <h3> Your Posts</h3>
            <ul>
                {% for post in posts  %}
                <li>
                    <a href="{% url 'authors:dashboard_post_edit' post.id %}">{{post.title}}</a> -
                    <form
                     class = "inline-form form-delete" 
                     action="{% url 'authors:dashboard_post_delete' %}" 
                     method='POST'
                     >
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ post.id }}">
                        <button class="plaintext-button" type="submit">❌</button>
                    </form>
                </li>
                {%empty%}
                    <li>
                        <p>You do not have Posts, please create one</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}